$background: #bf4080;
$color: #ab5eb8;

html {
  //Block scope
  $background: #eeccff;
  background-color: $background; //Read local scope #eeccff
  //...
}

.App {
  // ...
  background-color: $background; //Read global scope #bf4080
}


